##  nunique()

It used to check the no of unique elements in the row or column

Parameters : axis{0 or ‘index’, 1 or ‘columns’}, default 0   
             The axis to use. 0 or ‘index’ for row-wise, 1 or ‘columns’ for column-wise. 

             dropna:bool, default True
             Don’t include NaN in the counts.

In [ ]:
import pandas as pd 
  
df = pd.DataFrame({"A":[14, 4, 5, 4, 1,None], 
                   "B":[5, 2, 54, 3, 2,6], 
                   "C":[20, 20, 7, 3, 8,22], 
                    "D":[14, 3, 6, 2, 6,None]})

In [8]:
df

      A   B   C     D
0  14.0   5  20  14.0
1   4.0   2  20   3.0
2   5.0  54   7   6.0
3   4.0   3   3   2.0
4   1.0   2   8   6.0
5   NaN   6  22   NaN

## axis=1

In [11]:
df.nunique(axis=1,dropna=False) #include nan in the counts.  axis=1 check row wise

0    3
1    4
2    4
3    3
4    4
5    3
dtype: int64

In [13]:
df.nunique(axis=1,dropna=True)  #nan excluded

0    3
1    4
2    4
3    3
4    4
5    2
dtype: int64

## axis=0

In [14]:
df.nunique(axis=0,dropna=True)   # nan excluded

A    4
B    5
C    5
D    4
dtype: int64

In [15]:
df.nunique(axis=0,dropna=False) #nan included

A    5
B    5
C    5
D    5
dtype: int64